In [1]:
# Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix.

import numpy as np
array_1_to_10 = np.arange(1, 11)
matrix_2x5 = array_1_to_10.reshape(2, 5)
matrix_2x5

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [3]:
# Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index.

array_1_to_20 = np.arange(1, 21)
extracted_elements = array_1_to_20[5:16]
extracted_elements

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [3]:
# Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}. Then, add a new item to the series with the key 'pears' 
# and the value 4.

import pandas as pd
fruit_series = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
fruit_series['pears'] = 4
fruit_series

apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [19]:
# Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data.
    
import pandas as pd

data = {
    "name": ["Alice", "Bob", "Charlie", "Diana", "Edward", "Fiona", "George", "Hannah", "Ian", "Julia"],
    "age": [25, 30, 35, 28, 40, 22, 33, 27, 45, 29],
    "gender": ["Female", "Male", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female"]
}

df = pd.DataFrame(data)
print(df)

      name  age  gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male
3    Diana   28  Female
4   Edward   40    Male
5    Fiona   22  Female
6   George   33    Male
7   Hannah   27  Female
8      Ian   45    Male
9    Julia   29  Female

In [23]:
# Add a new column to the data frame created in the above question, called occupation. The values for this column should be Programmer, Manager, and 
# Analyst, corresponding to the rows in the dataframe.

import pandas as pd

data = {
    "name": ["Alice", "Bob", "Charlie", "Diana", "Edward", "Fiona", "George", "Hannah", "Ian", "Julia"],
    "age": [25, 30, 35, 28, 40, 22, 33, 27, 45, 29],
    "gender": ["Female", "Male", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female"]
}

df = pd.DataFrame(data)
occupations = ["Programmer", "Manager", "Analyst", "Programmer", "Manager", "Analyst", "Programmer", "Manager", "Analyst", "Programmer"]
df["occupation"] = occupations
print(df)

      name  age  gender  occupation
0    Alice   25  Female  Programmer
1      Bob   30    Male     Manager
2  Charlie   35    Male     Analyst
3    Diana   28  Female  Programmer
4   Edward   40    Male     Manager
5    Fiona   22  Female     Analyst
6   George   33    Male  Programmer
7   Hannah   27  Female     Manager
8      Ian   45    Male     Analyst
9    Julia   29  Female  Programmer

In [25]:
# Select the rows of the dataframe where the age is greater than or equal to 30.

filtered_df = df[df["age"] >= 30]
print(filtered_df)

      name  age gender  occupation
1      Bob   30   Male     Manager
2  Charlie   35   Male     Analyst
4   Edward   40   Male     Manager
6   George   33   Male  Programmer
8      Ian   45   Male     Analyst

In [7]:
# Convert this dataframe to a csv file and read that csv file, finally display the contents.

import pandas as pd
data = {
    "name": ["Alice", "Bob", "Charlie", "Diana", "Edward", "Fiona", "George", "Hannah", "Ian", "Julia"],
    "age": [25, 30, 35, 28, 40, 22, 33, 27, 45, 29],
    "gender": ["Female", "Male", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female"],
    "occupation": ["Programmer", "Manager", "Analyst", "Programmer", "Manager", "Analyst", "Programmer", "Manager", "Analyst", "Programmer"]
}

df = pd.DataFrame(data)

df.to_csv("sample_dataframe.csv", index=False)

read_df = pd.read_csv("sample_dataframe.csv")

print(read_df)

      name  age  gender  occupation
0    Alice   25  Female  Programmer
1      Bob   30    Male     Manager
2  Charlie   35    Male     Analyst
3    Diana   28  Female  Programmer
4   Edward   40    Male     Manager
5    Fiona   22  Female     Analyst
6   George   33    Male  Programmer
7   Hannah   27  Female     Manager
8      Ian   45    Male     Analyst
9    Julia   29  Female  Programmer